@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


 /* globales */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
nav{
    font-weight: 600;
    font-size: 1.6rem;
    padding-top: 25px;
}
nav a{ 
    margin-left:20px;
}
nav a:hover{
    text-decoration: underline;
    color: #Fc697b;
}
section{
    overflow: hidden;
}
/* SECCION 1 */

.sec1{
    background-image: url(sc1.png);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
} 

.sec1 h1,.sec1 p,.sec1 button{
    color: white;
    margin-top: 8%;
    margin-left: 20%;
}
.sec1 h1{
    font-size: 5rem;
}
.sec1 p{
    font-size: 1.8rem;
    line-height: 27px;
    margin-top: 3%;
    font-weight: 200;
}
.sec1 button{
    color: #f53a50;
    background-color: white;
    padding: 20px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:4%;
}
.sec1 button:hover{
    transition: .3s;
    background-color: #c94970;
    color: white;
    box-shadow: 0px 0px 35px white, 0px 0px 15px white;
}
/* SECCION 1 *//* SECCION 1 *//* SECCION 1 *//* SECCION 1 */
/* Seccion 2 *//* Seccion 2 *//* Seccion 2 *//* Seccion 2 */
.sec2 {
    margin-bottom: 5%;
}
.sec2 img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #f53a50;
}
.sec2 img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 20px #f53a50,0px 0px 10px black;
}
.sec2 h1{
    font-size: 4rem;
    padding: 4% 0;
    display: flex;
    justify-content: center;
    color: #f53a50;
}
.sec2 h2{
    color: #f53a50;
}
.sec2 p{
    color: black;
}
.sec2 button{
    color: white;
    background-color: #f53a50;
    width: 17rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:4%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec2 button:hover{
    transition: .3s;
    background-color: #c21d5f;
    box-shadow: 0px 0px 15px #Fc697b, 0px 0px 15px white;
}
.items{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.items h2{
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 10%;
    padding-bottom: 8%;
}
.items p{
    font-size: 1.3rem;
    line-height: 27px;
    color: black;
    width: 90%;
    margin-bottom: 15%;
}
.item1,.item2,.item3{
    width: 25rem;
}
/* Seccion 2 *//* Seccion 2 *//* Seccion 2 *//* Seccion 2 */
/* SECCION 3 *//* SECCION 3 *//* SECCION 3 *//* SECCION 3 */
.sec3{
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec3 h1{
    
    color: white;
    font-size: 4.5rem;
    font-weight:700;
}
.sec3 p{
    color: white;
    font-size: 1.5rem;
    line-height: 27px;
    margin: 1% 0;
}

.sec3 button{
    color: #f53a50;
    background-color: white;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:1%;

}
.sec3 button:hover{
    transition: .3s;
    background-color:#f53a50 ;
    color: white;
}
/* SECCION 3 */
/* SECCION 4 */
.sec4{
    background-image: url(petsprueba2.jpg);
    background-size: cover;
    background-color: #c21d5f;
    height: 60vh;
    display: flex;
    align-items: center;
}
.sec4 h1{
    font-size: 6rem;
    line-height: 9rem;
    color: white;
    margin-left: 60%;
}
/* SECCION 4 */
/* SECCION 5 */
.sec5{
    display: flex;
    justify-content: space-evenly;
}
.izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-top: 10vh;
}
.izq p{
    font-size: 1.4rem;
    line-height: 25px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
    margin-top: 15%;
    margin-left: 5%;
}
.p2{
    padding-bottom: 20%;
}
.sec5 h1{
    color: #f53a50;
    font-size: 5rem;
}
.sec5 h2{
    margin-bottom: 3%;
}
.der{
    margin-top: 12vh;
    
}
.caja1,.caja2,.caja3{
    
    margin-bottom: 20%;
    background-color: white;
    height: 17%;
    width: 30rem;
    border-radius: 7px;
    margin-left: 15%;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.sec5 img{
    position: absolute;
    border-radius: 5px;
    left: 63%;
}
.bc{
    position: absolute;
    z-index: -3;
    background-color: rgb(252,105,123);
    background: linear-gradient(137deg, rgba(252,105,123,1) 36%, rgba(194,29,95,1) 80%);
    height: 75vh;
    width: 25vw;
    border-radius:0 0 300px 0;
    left: 70%;
    z-index: -1;
}
/* SECCION 5 */

/* SECCION 6 */
.sec6{
    position: relative;
    z-index: -2;
    background-color: rgb(255, 244, 246);
    height: 80vh;
}
.sec6 h1{
    color: #f53a50 ;
    display: flex;
    justify-content: center;
    font-size: 5.5rem;
    padding-top: 5%;
}
.sec6 h2{
    position: relative;
    color: #f53a50;
    font-size: 3rem;
    margin-bottom: 10%;
}
.sec6 p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}
.bloques{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left:5%;
    /* padding-left:15%; */
}
.bloq1{
    max-width: 340px;
    margin: 0 20px;
}
.bloq2{
    max-width: 340px;
    margin: 0 20px;
}
.bloq3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    margin: 0 20px;
}
/* SECCION 6 */

/* SECCION 7 */
.sec7{
    display: grid;
    grid-template-columns: 50% 50%;
}
.izq7 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec7 h1{
    padding-top: 10%;
    font-size: 5rem;
    color: #f53a50;
}
.sec7 p{
    font-size: 1.7rem;
    line-height: 30px;
    margin: 5% 0;
}
b{
    color: #f53a50;
}
.der7{
    max-width: 55%;
    padding-bottom: 5%;
}
/* SECCION 7 */

/* SECCION 8 */
.sec8{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
}
.sec8 h1{
    color: white;
    font-size: 4rem;
    padding:  0 3%;
}
.sec8 p{
    font-size: 1.4rem;
    line-height: 30px;
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom:2%;
}
.sec8 a{
    color: #f53a50;
    background-color: white;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:1%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.sec8 a:hover{
    transition: .4s;
    color: white;
    background-color: #Fc697b;
    box-shadow: 0px 0px 15px white, 0px 0px 5px #f53a50;
}
/* SECCION 8 */
/* SECCION 9 */
.sec9{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}
.sec9 form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50%;
    padding-top: 3%;
    margin-right: 5%;
}
.name{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}
.email{
    display: flex;
    flex-direction: column;
}
.fline{
    display: flex;
}
.fline input{
    margin-bottom: 3%;
    width: 17vw;
    height: 5vh;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.fline label{
    font-size: 1.5rem;;
    margin-bottom: 4%;
}
.sec9 h1{
    font-size: 4.5rem;
    padding-top: 5%;
    color:  #f53a50;
    margin:0 auto;
}
.sub{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.sub label{
    margin-bottom: 2%;
    margin-top: 3%;
}
.sub input{
    outline: none;
    border-style: none;
    width: 127%;
    height: 5vh;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
}
.msg{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.msg label{
    margin-bottom: 3%;
    margin-top: 4%;
}
.msg input{
    height: 25vh;
    width: 34vw;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
}
.btnsub {
    color: white;
    background-color:#f53a50;
    height: 05rem;
    width: 20rem;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin: 20% 35%;
    box-shadow: 0 0 5px black;
}
.btnsub:hover{
    transition: .3s;
    background-color: #c94970;
    color: white;
    box-shadow: 0px 0px 35px #c21d5f, 0px 0px 15px #f53a50;
}
textarea{
    width: 127%;
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: start;
    resize: none;
    padding-top: 15px;
    padding-left: 15px;
}
/* SECCION 9 */

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1%;
    height: 15vh;
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
}
footer img{
    margin-right: 6%;
    margin-top: 2.3%;
}
.f1{
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    margin-left: 15%;
    align-items: flex-end;
}
.icons i{ 
    color: white;
    font-size: 3rem;
    margin-bottom: 45%;
    margin-right: 5px;
    margin-left: 5px;
}
.cr p{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*FOOTER */













@media(max-width: 768px){
    /* secction 1 *//* secction 1 *//* secction 1 */
    .sec1{ 
        align-items: center;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .sec1 h1,.sec1 p,.sec1 button{
        margin: 15px auto;
    }  
   
      /* secction 1 *//* secction 1 *//* secction 1 */
      /* seccion 2 */ /* seccion 2 */ /* seccion 2 */
      .items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .items button{
        margin-bottom: 25px;
        
    }
    /* SECCION 4 */   /* SECCION 4 */
    .sec4 h1{
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* SECCION 4 */   /* SECCION 4 */

    /* secction 9 */
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fline{
        display: flex;
        flex-direction: column;
    }
    .fline input{
        width: 127%;
    }
    .name input{
        width: 140%;
    }
    .btnsub{
        margin-left: 70%;
    }
}
/* secction 9 */
/* FOOTER *//* FOOTER *//* FOOTER */
@media(max-width: 1200px){
    .perro{
        display: none;
    }
    .f1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
    }

}

/* FOOTER *//* FOOTER *//* FOOTER */
::-webkit-scrollbar {
    display: none;
}