@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    
}
nav{
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 25px;
}
nav a{ 
    margin-left:20px;
}
nav a:hover{
    text-decoration: underline;
    color: #Fc697b;
}
.w{
    color: #Fc697b;
}

.wr{
    background-color: rgb(194,29,95);
    background: linear-gradient(24deg, rgba(194,29,95,1) 39%, rgba(245,58,80,1) 74%, rgba(252,105,123,1) 92%);
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.wr h1{
    font-size: 3rem;
    margin-top: 1%;
    color: white;
}
.wr p{
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 170%;
    margin-top: 2%;
}

div{
    display: flex;
    flex-direction: column;
}
form{
    display: grid;
    grid-template-columns: 50% 50%;
    /* padding-left: 20%;
    padding-right: 20%; */
    padding-top: 4%;
    height: 80%;
    padding-bottom: 10vh;
}
label{
    padding-top: 5%;
    padding-bottom: 6%;
}
input::placeholder{
    margin-left: 15px;
    padding-left: 15px;
}
.g2 input,.g1 input,.g1 select{
    outline: none;
    border-style: none;
    box-shadow: 0px 0px 9px white, 0px 0px 5px #f53a50;
    border-radius: 8px;
    width: 20vw;
    height: 5vh;
    margin-right: 5vw;
}
.f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnsub{
    color: white;
    background-color:#f53a50;
    height: 3.5rem;
    width: 18rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20%;
    left: 50%;
}
.btnsub:hover{
    transition: .3s;
    background-color: #c94970;
    color: white;
    box-shadow: 0px 0px 35px #c21d5f, 0px 0px 15px #f53a50;
}

@media (max-width:800px){
    form{
        display: flex;
        flex-direction: column;
    }
    .g2 input,.g1 input,.g1 select{
        width: 70vw;
        height: 8vh;
    }
    .btnsub{  
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15%;
        position: relative;
        left: 15%;
    }
}