colores

*{
    color: #f53a50;
    color: #f53a50;
    color: #c94970;
    color: #Fc697b;
    color: #c21d5f;
}

/* .caja2{
    border: 2px solid black;
    background-color: white;
    height: 13%;
    width: 120%;
    margin-bottom: 20%;
    margin-top: 35%;
}
.caja3{
    border: 2px solid black;
    margin-bottom: 20%;
    margin-top: 35%;
    background-color: white;
    height: 13%;
    width: 120%;
} */
/* .sec3 button{
    color: #f53a50;
    background-color: white;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-top:1%;

}
.sec3 button:hover{
    transition: .3s;
    background-color:#f53a50 ;
    color: white;
} */